@import 'primereact/resources/primereact.min.css';
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

.pavatarbig {
    height: 12rem !important;
    width: 12rem !important;
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
}

.objet-fit-cover {
    object-fit: cover !important;
}